section {
  display: flex;
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  /* height: 650px; */
}
.elements {
  width: 43%;
}
.container {
  /* height: 150px; */
  /* width: 43%; */
  background-color: var(--white);
  border-radius: 25px;
  margin-top: 50px;
  margin-left: 50px;
  padding-left: 42px;
  padding-bottom: 25px;
  text-align: left;
}

.container i {
  float: right;
  margin-top: 44px;
  margin-right: 56px;
}

.container h3 {
  padding-top: 25px;
  font-size: 26px;
  font-weight: 700px;
}

.container p {
  color: var(--grey);
  margin-top: 8px;
  font-size: 20px;
}

.spalvoti {
  width: 188px;
  height: 20px;
  border-radius: 25px;
  margin-top: 30px;
}

.calendar {
  width: 45%;
  /* margin-left: 0; */
  padding-right: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  padding-top: 0;
}

.calendar img {
  width: 30px;
  height: 12px;
  margin-left: 26px;
  margin-right: 26px;
}
.calendar img:not(:first-child) {
  transform: rotate(180deg);
}

.calendar span {
  font-size: 24px;
  color: var(--grey);
}

.dienos {
  padding-top: 51px;
  padding-bottom: 29px;
  border-bottom: 1px solid var(--grey);
}

.dienos span {
  margin-left: 18px;
}

.skaiciai {
  margin-top: 26px;
  margin-left: 22px;
  max-width: 450px;
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
}

.skaiciai span {
  text-align: center;
  width: 32px;
  height: 32px;
  font-weight: bold;
  font-size: 24px;
}

.skaiciai > .black {
  color: black;
}

.skaiciai > .curent {
  background-color: var(--blue);
  color: white;
  border-radius: 50%;
  transform: scale(1.5);
  font-size: 15px;
  padding-top: 6px;
  text-align: center;
}

.pliusas {
  font-size: 48px;
  color: var(--white);
  background-color: var(--blue);
  margin-top: 49px;
  margin-left: 150px;
  padding-top: 5px;
  padding-left: 21px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

@media (max-width: 1060px) {
  .elements {
    margin: 0 14px 33px 13px;
    width: calc(100% - 27px);
  }
  .container {
    margin-top: 33px;
    margin-left: 0;
    /* padding-left: 42px; */
    padding-bottom: 25px;
    text-align: left;
  }
  section {
    flex-direction: column-reverse;

    height: auto;
  }
  .calendar {
    margin: 46px 14px 0 13px;
    width: calc(100% - 27px);
  }
  .dienos {
    padding-top: 31px;
  }
  .dienos span {
    margin-left: 8px;
    font-size: 20px;
  }
  .skaiciai {
    gap: 17px;
  }
  .pliusas {
    /* justify-self: flex-start; */
    float: right;
    margin-top: 7px;
    margin-right: 14px;
    margin-bottom: 52px;
    width: 60px;
    height: 60px;
    padding-top: 1px;
    padding-left: 16px;
  }
}
