nav {
    background-color:  var(--light-grey);
    width: 100px;
    height: 100vh;
    text-align: center;
    float: left;
    transition: all, 1s;
    box-shadow: 2px 0px 1px var(--grey);
}

nav:hover {
    width: 206px;
    text-align: left;
}

nav .logo {
    margin-top: 52px;
    border-bottom: 2px solid var(--grey);
    padding-bottom: 24px;
    transition: 1s;
}


nav:hover .logo {
    margin-top: 14px;
    margin-left: 39px;
    padding: 30px;
}

nav a {
    margin-top: 34px;
    text-decoration: none;
    display: block;
    transition: 1s;
    max-height: 57px;
}

nav:hover a {
    margin-left: 30px; 
    padding-top: 16px;
    padding-bottom: 16px;
}

nav a:hover {
    background-color: var(--white);
    padding-left: 32px;
    margin-left: 11px;
    border-radius: 25px 0px 0px 25px;
}

nav a:hover div {
    color: var(--blue);
}

nav a img {
    /* display: inline-block; */
    transition: 1s;
}

nav a:hover img {
    filter: brightness(0) saturate(100%) invert(24%) sepia(95%) saturate(673%) hue-rotate(159deg) brightness(93%) contrast(103%);
}

nav:hover .active {
    margin-left: 11px;
    padding-left: 32px;
}

nav a div {
    display: inline-block;
    font-size: 0px;
    color: var(--grey);
    transition: 1s;
}

nav:hover a div {
    /* display: inline-block;     */
    margin-left: 19px;
    font-size: 16px;
}

.active {
    background-color: var(--white);
    padding-top: 16px;
    padding-bottom: 16px;
    /* padding-left: 32px; */
    /* padding: 16px 32px; */
    width: calc(100% - 11px);
    margin-left: 11px;
    border-radius: 25px 0px 0px 25px;
    /* display: inline-block; */
}

.active div {
    color: var(--blue);
}

footer div {
    color: var(--blue);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 11px 81px;
    border-top: 1px solid var(--blue);
    font-size: 11px;
    line-height: 13px;
}

/* section {
    width: calc(100% - 100px);
    display: inline-block;
} */

/* h1 {
    padding-top: 59px;
    padding-left: 100px;
    float: left;
    font-size: 36px;
} */

/* .date {
    background-color: var(--white);
    float: right;
    border-radius: 25px;
    margin-top: 56px;
    margin-right: 67px;
    margin-bottom: 23px;
    padding: 22px 96px;
    font-size: 24px;
} */

/* .date h2 {
    font-size: 36px;
    color: var(--blue);
    margin: 0;
} */

/* .citata {
    border: 2px solid var(--blue);
    border-radius: 25px;
} */